<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="False"/>
    <add key="ClientId" value="02646d3fb69a52ff072d47bf23cef8fd"/>
    <add key="ClientSecret" value="cde5d61429abcd7c"/>
    <add key="RedirectUri" value="http://www.douban.com/mobile/fm"/>
    <add key="AppName" value="radio_iphone"/>
    <add key="AppVersion" value="100"/>
  </appSettings>
</configuration>